Your project impetus-opensource Kundera is using buggy third-party libraries [WARNING]

Hi, there!

We are a research team working on third-party library analysis. We have found that some widely-used third-party libraries in your project have major/critical bugs, which will degrade the quality of your project. We highly recommend you to update those libraries to new versions.

We have attached the buggy third-party libraries and corresponding jira issue links below for you to have more detailed information. We have analyzed the api call related to the following libraries and found one library that is using the API call that might invoke buggy methods in the library of the history.

1. commons-lang commons-lang
version: 2.4
API call in your project:org.apache.commons.lang.builder.HashCodeBuilder.toIdentityHashCodeInteger(Object)

Jira issues:
[StringEscapeUtils.escapeJava(String) escapes '/' characters](https://issues.apache.org/jira/projects/LANG/issues/LANG-421?filter=allopenissues)
version:2.4
[Fix case-insensitive string handling](https://issues.apache.org/jira/projects/LANG/issues/LANG-432?filter=allopenissues)
version:2.4
[StringEscapeUtils.escapeHTML() does not escape chars (0x00-0x20)](https://issues.apache.org/jira/projects/LANG/issues/LANG-439?filter=allopenissues)
version:2.4
[DateUtils.round doesn't work correct for Calendar.AM_PM](https://issues.apache.org/jira/projects/LANG/issues/LANG-440?filter=allopenissues)
version:2.4
[Lower Ascii Characters don't get encoded by Entities.java](https://issues.apache.org/jira/projects/LANG/issues/LANG-448?filter=allopenissues)
version:2.4
[Issue in HashCodeBuilder which only shows up under high load multi-threaded usage.](https://issues.apache.org/jira/projects/LANG/issues/LANG-459?filter=allopenissues)
version:2.4
[Ant build file does not include ReflectTestSuite](https://issues.apache.org/jira/projects/LANG/issues/LANG-463?filter=allopenissues)
version:2.4
[EqualsBuilder and HashCodeBuilder treat java.math.BigDecimal inconsistantly and break general contract of hashCode](https://issues.apache.org/jira/projects/LANG/issues/LANG-467?filter=allopenissues)
version:2.4
[JDK 1.5 build/runtime failure on LANG-393 (EqualsBuilder)](https://issues.apache.org/jira/projects/LANG/issues/LANG-468?filter=allopenissues)
version:2.4
[ExtendedMessageFormat: OutOfMemory with custom format registry and a pattern containing single quotes](https://issues.apache.org/jira/projects/LANG/issues/LANG-477?filter=allopenissues)
version:2.4
[parseDate cannot parse ISO8601 dates produced by FastDateFormat](https://issues.apache.org/jira/projects/LANG/issues/LANG-530?filter=allopenissues)
version:2.4
[DateFormatUtils.format does not correctly change Calendar TimeZone in certain situations](https://issues.apache.org/jira/projects/LANG/issues/LANG-538?filter=allopenissues)
version:2.4
[StringUtils replaceEach - Bug or Missing Documentation ](https://issues.apache.org/jira/projects/LANG/issues/LANG-552?filter=allopenissues)
version:2.4
[Javadoc wrong for StringUtils startsWith; startsWithIgnoreCase; endsWith and endsWithIgnoreCase](https://issues.apache.org/jira/projects/LANG/issues/LANG-557?filter=allopenissues)
version:2.4
[HashCodeBuilder reflectionAppend creates unnecessary copy of excludeFields](https://issues.apache.org/jira/projects/LANG/issues/LANG-575?filter=allopenissues)
version:2.4
[ExceptionUtils uses mutable lock target](https://issues.apache.org/jira/projects/LANG/issues/LANG-584?filter=allopenissues)
version:2.4
[ClassUtils.toClass(Object[]) throws NPE on null array element](https://issues.apache.org/jira/projects/LANG/issues/LANG-587?filter=allopenissues)
version:2.4
[StringUtils lastIndexOf(String str; char searchChar; int startPos) not working](https://issues.apache.org/jira/projects/LANG/issues/LANG-899?filter=allopenissues)
version:2.4
2. org.apache.httpcomponents httpclient
version: 4.2.6
Jira issues:
[ClientConnectionManager should honor context classloader](https://issues.apache.org/jira/projects/HTTPCLIENT/issues/HTTPCLIENT-1414?filter=allopenissues)
version:4.2.6
3. commons-logging commons-logging
version: 1.1.1
Jira issues:
[Unit tests fail on linux with java16](https://issues.apache.org/jira/projects/LOGGING/issues/LOGGING-117?filter=allopenissues)
version:1.1.1
[deadlock on re-registration of logger](https://issues.apache.org/jira/projects/LOGGING/issues/LOGGING-119?filter=allopenissues)
version:1.1.1
[Potential missing privileged block for class loader](https://issues.apache.org/jira/projects/LOGGING/issues/LOGGING-130?filter=allopenissues)
version:1.1.1
[Log4JLogger uses deprecated static members of Priority such as INFO](https://issues.apache.org/jira/projects/LOGGING/issues/LOGGING-142?filter=allopenissues)
version:1.1.1
[LogFactory/LogFactoryImpl ingore Throwable](https://issues.apache.org/jira/projects/LOGGING/issues/LOGGING-144?filter=allopenissues)
version:1.1.1
[LogFactory.nullClassLoaderFactory is not properly synchronized](https://issues.apache.org/jira/projects/LOGGING/issues/LOGGING-146?filter=allopenissues)
version:1.1.1
[SimpleLog.log - unsafe update of shortLogName](https://issues.apache.org/jira/projects/LOGGING/issues/LOGGING-147?filter=allopenissues)
version:1.1.1
[BufferedReader is not closed properly](https://issues.apache.org/jira/projects/LOGGING/issues/LOGGING-163?filter=allopenissues)
version:1.1.1;1.2
4. commons-io commons-io
version: 2.4
Jira issues:
[IOUtils copyLarge() and skip() methods are performance hogs](https://issues.apache.org/jira/projects/IO/issues/IO-355?filter=allopenissues)
version:2.3;2.4
[CharSequenceInputStream#reset() behaves incorrectly in case when buffer size is not dividable by data size](https://issues.apache.org/jira/projects/IO/issues/IO-356?filter=allopenissues)
version:2.4
[[Tailer] InterruptedException while the thead is sleeping is silently ignored](https://issues.apache.org/jira/projects/IO/issues/IO-357?filter=allopenissues)
version:2.4
[IOUtils.contentEquals* methods returns false if input1 == input2; should return true](https://issues.apache.org/jira/projects/IO/issues/IO-362?filter=allopenissues)
version:2.4
[Apache Commons - standard links for documents are failing](https://issues.apache.org/jira/projects/IO/issues/IO-369?filter=allopenissues)
version:2.4
[Links are broken on User Guide....](https://issues.apache.org/jira/projects/IO/issues/IO-370?filter=allopenissues)
version:2.4
[FileUtils.sizeOfDirectoryAsBigInteger can overflow](https://issues.apache.org/jira/projects/IO/issues/IO-390?filter=allopenissues)
version:2.4
[Regression in FileUtils.readFileToString from 2.0.1](https://issues.apache.org/jira/projects/IO/issues/IO-453?filter=allopenissues)
version:2.1;2.2;2.3;2.4
[Correct exception message in FileUtils.getFile(File; String...)](https://issues.apache.org/jira/projects/IO/issues/IO-479?filter=allopenissues)
version:2.4
[org.apache.commons.io.FileUtils#waitFor waits too long](https://issues.apache.org/jira/projects/IO/issues/IO-481?filter=allopenissues)
version:2.4
[getPrefixLength return -1 if unix file contains colon](https://issues.apache.org/jira/projects/IO/issues/IO-483?filter=allopenissues)
version:2.4
[FilenameUtils should handle embedded null bytes](https://issues.apache.org/jira/projects/IO/issues/IO-484?filter=allopenissues)
version:2.4
[Exceptions are suppressed incorrectly when copying files.](https://issues.apache.org/jira/projects/IO/issues/IO-502?filter=allopenissues)
version:2.4;2.5
5. commons-codec commons-codec
version: 1.2
Jira issues:
[org.apache.commons.codec.net.URLCodec.ESCAPE_CHAR isn't final but should be](https://issues.apache.org/jira/projects/CODEC/issues/CODEC-111?filter=allopenissues)
version:1.2;1.3;1.4
[Change name of urldecode and urlencode in URLCodec](https://issues.apache.org/jira/projects/CODEC/issues/CODEC-19?filter=allopenissues)
version:1.2
[Provide a package.html for org/apache/commons/codec/net](https://issues.apache.org/jira/projects/CODEC/issues/CODEC-2?filter=allopenissues)
version:1.2
[[codec] Alterations to Binary.java and its unit test for 1.3 release](https://issues.apache.org/jira/projects/CODEC/issues/CODEC-21?filter=allopenissues)
version:1.2
[[Codec] Default URL encoding logic broken](https://issues.apache.org/jira/projects/CODEC/issues/CODEC-25?filter=allopenissues)
version:1.2
[Base64 chunked encoding not compliant with RFC 2045 section 2.1 CRLF](https://issues.apache.org/jira/projects/CODEC/issues/CODEC-31?filter=allopenissues)
version:1.2
[[codec] Hex converts illegal characters to 255](https://issues.apache.org/jira/projects/CODEC/issues/CODEC-5?filter=allopenissues)
version:1.2
[All links to fixed bugs in the "Changes Report" http://commons.apache.org/codec/changes-report.html point nowhere; e.g. http://issues.apache.org/jira/browse/34157. Looks as if all JIRA tickets were renumbered.](https://issues.apache.org/jira/projects/CODEC/issues/CODEC-76?filter=allopenissues)
version:1.1;1.2;1.3;1.4
6. commons-codec commons-codec
version: 1.8
Jira issues:
[Beider Morse does not close Scanners used to read config files.](https://issues.apache.org/jira/projects/CODEC/issues/CODEC-175?filter=allopenissues)
version:1.8



Sincerely~
FDU Software Engineering Lab
Marth 14th,2019
